<ul>
	<div class="mobile-toggle-mnu"><span></span></div>
	<li class="logo"><img src="img/cross-tv-logo-icon.png"></li>
	<li class="search"><span><%= getToken("nav.search") %></span></li>
	<li class="main"><span><%= getToken("nav.main") %></span></li>
	<li class="channels"><span><%= getToken("nav.channels") %></span></li>
	<li class="archive"><span><%= getToken("nav.archive") %></span></li>
	<li class="cinema"><span><%= getToken("nav.cinema") %></span></li>
</ul>

